html * {
  font-family: "Euclid Circular A", sans-serif !important;
  margin: 0;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 60px;
}

.main {
  background: 90% / 40% no-repeat url("../img/phone.png"), #cbecff;
  height: 700px;
}

.lang {
  display: flex;
  justify-content: flex-end;
}
